body {
    font-family: Berthold Akzidenz-Grotesk;
    color: #545454;
    margin-top: 51px;

    overflow-x: hidden;

    font-size: 16px;
}

h1 {
    color: #eee;
    text-align: center;
    font-weight: 400;
    margin: 63px auto 50px auto;
    font-size: 30px;
    font-style: italic;
}
@media (min-width: 500px) {
    h1 {
        margin-top: 54px;
        font-size: 45px;
    }
}

.placeholder-bottom {
    height: 100px;
}

.navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    border-radius: 0;
}
.navbar-brand{
    transform: translateY(2px);
}
.navbar-default {
    border-color: #d74919;
}

.banner-small {
    width: 100%;
    min-height: 160px;
    background-color: #d74919;
}

.banner-medium {
    width: 100%;
    min-height: 400px;
    background-color: #d74919;
}

.banner-large {
    width: 100%;
    min-height: 500px;
    background-color: #d74919;
}

.full-width {
    width: 100%;
    padding: 0;
}

#main-quote{
    position: relative;
    height: 160px;
}
#main-quote>p{
    font-size: 3.8vw;
    font-weight: 100;
    line-height: 1.1em;

    font-style: italic;
    color: #ffffff;

    width: 650px;
    max-width: 100%;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    bottom:10px;
}
#main-quote>p>span:nth-child(1) {
    margin-left: 0px;
}
#main-quote>p>span:nth-child(3) {
    margin-left: 10vw;
}
#main-quote>p>span:nth-child(5) {
    margin-left: 18vw;
}
#main-quote>p>span:nth-child(7) {
    margin-left: 42vw;
    font-size: 2.4vw;
}
@media (min-width:662px) {
    #main-quote>p{
        font-size: 25px;
        margin-top:20px;
    }
    #main-quote>p>span:nth-child(1) {
        margin-left: 0px;
    }
    #main-quote>p>span:nth-child(3) {
        margin-left: 100px;
    }
    #main-quote>p>span:nth-child(5) {
        margin-left: 180px;
    }
    #main-quote>p>span:nth-child(7) {
        font-size: 15px;
        margin-left: 340px;
    }
}

#landing-overlay {
    position: relative;
    height: 100%;
    background-color: #d74919;
}
.landing-overlay-image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.90);
    width: 500px;
    max-width: 100%;
    opacity: 0;
    transition:opacity 1.4s linear;
}
@media (min-width: 768px) {
    .landing-overlay-image {
        transform: translate(-50%, -50%) scale(1);
    }
}
#landing-arrow-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    max-width: 100%;
    opacity: 0;
    transition:opacity 1.5s linear;
    cursor: pointer;
}

#main-text-left {
    width:200px;
    margin:auto;
}
@media (min-width: 992px) {
    #main-text-left {
        float: right;
    }
}
@media (min-width: 500px) {
    #main-text-right {
        margin-left:50px;
    }
}

.maintext-content {
    margin-top: 80px;
    margin-bottom: 80px;
}
.maintext-content h3 {
    font-weight: 300;
    font-size: 1.3em;
    font-style: italic;
}
@media (min-width: 400px) {
    .maintext-content h3 {
        font-size: 1.5em;
    }
}
@media (min-width: 500px) {
    .maintext-content h3 {
        font-size: 1.9em;
    }
}

#landing-nav {
    overflow: hidden;
    background-image: url(../assets/t.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 0;
}
#landing-nav>div {
    min-height: 500px;
    max-width: 625px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media (min-width: 992px) {
    #landing-nav>div {
        max-width: 100%;
    }
}
.main-navitem {
    width: 190px;
    height: 156px;
    margin: 5px;
}
@media (min-width: 618px) {
    .main-navitem {
        margin: 10px;
    }
}
@media (min-width: 1200px) {
    .main-navitem {
        width: 240px;
        height: 197px;
    }
}
.main-navitem a {
    color: #545454;
}
.main-navitem a:hover {
    color: #1e1e1e;
}
.main-navitem div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
}
.main-navitem div>p {
    position: absolute;
    font-weight: 400;
    font-size: 17px;
    text-align: center;

    bottom: 10px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 1200px) {
    .main-navitem div>p {
        font-size: 20px;
    }
}
.main-navitem div>img {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 60%;
    margin-top: 5%;
    max-height: 100%;
    max-width: 100%;
}

footer {
    position: relative;
    color: #ffffff;
    font-weight: 300;
}
footer a {
    color: #ffffff;
}

footer>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer_logo {
    width: 350px;
    max-width: 100%;
}

#footer_info {
    transform: translateX(4px);
    width: 278px;
    margin:auto;
    margin-top: 50px;
    text-align: center;
}
#footer_info a {
    color: #23527c;
}

#footer_links {
    text-align: center;
    margin-top: 80px;
}
@media (min-width: 768px) {
    #footer_info {
        transform: translateX(0);
        text-align: left;
        margin-left: 78px;
    }
    #footer_links {
        text-align: left;
        margin-left: 78px;
    }
}
@media (min-width: 992px) {
    #footer_info {
        margin-top: 131px;
    }
    #footer_links {
        margin-top: 184px;
        margin-left: 140px;
    }
}

/* Lichtplanung */
.lichtplanung-content {
    margin-top: 80px;
    margin-bottom: 80px;
}
.lichtplanung-content h3 {
    font-weight: 300;
    font-size: 1.3em;
    font-style: italic;
}
@media (min-width:450px) {
    .lichtplanung-content h3 {
        font-size: 1.8em;
    }
}
@media (min-width:500px) {
    .lichtplanung-content h3 {
        font-size: 2em;
    }
}

/* Referenzen */
#referenz {
    /*Anchor Position*/
    height: 0;
    position:relative;
    bottom:51px;
}

.referenzen {
    padding:0;
}
.referenzen h3 {
    font-weight: 300;
    font-size: 1.6em;
    color: #d74919;
}
@media (min-width:450px) {
    .referenzen h3 {
        font-size: 1.8em;
    }
}
@media (min-width:500px) {
    .referenzen h3 {
        font-size: 2.2em;
    }
}
.referenzen .motto {
    font-weight: 200;
    font-style: italic;
}

.referenzen .ref-text {
    margin-top: 40px;
}

.referenzen>.row>div {
    margin-top: 80px;
}
.referenzen>.row>div>div {
    padding: 20px;
    border: 1px solid #d74919;
}
.referenzen .referenzen-element {
    min-height: 500px;
    padding-top: 80px;
    padding-bottom: 80px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.referenzen .referenzen-element .ref-container-inner {
    background-color: rgba(255,255,255,0.9);
    padding: 40px;
}
#ref0 {
    background-image: url(../assets/demo-blur.jpg);
}
#ref1 {
    background-image: url(../assets/demo2-blur.jpg);
}
#ref2 {
    background-image: url(../assets/demo3-blur.jpg);
}
#ref3 {
    background-image: url(../assets/demo2-blur.jpg);
}

.rslides_tabs {
    list-style-type: none;
    background-color: #d74919;
}
.rslides_tabs li{
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #d74919;
    padding-top: 5px;
}
.rslides_tabs li a{
    margin-left: 10px;
    color:inherit;
}

.referenz-spacer {
    height: 80px;
}
.ref-splitter {
    height: 4px;
    background-color: #d74919;
}

.sliderContainer {
    max-width: 500px;
}
@media (min-width: 552px) {
    .sliderContainer {
        padding: 40px;
    }
}

/* Kontakt */
#contact-logo {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}

#contact-form {
    margin-top: 40px;
    margin-bottom: 80px;
}

.redstar {
    color: red;
}

form {
    font-size: 16px;
}
.form-control {
    font-size: 15px;
}
form label {
    font-weight: 300;
}
form textarea {
    max-width: 100%;
}

legend {
    color: inherit;
    font-style: italic;
    font-weight: 300;
}

.gmaps {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
