body {
    margin-top: 51px;
    font-family: Berthold Akzidenz-Grotesk;
    color: #9f9f9f;

    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-weight: 300;
    margin: 50px auto 50px auto;
    font-size: 30px;
}
@media (min-width: 400px) {
    h1 {
        font-size: 36px;
    }
}

.placeholder-bottom {
    height: 100px;
}

.navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-brand{
    transform: translateY(-3px);
}

.banner-small {
    width: 100%;
    min-height: 160px;
    background-color: #d74919;
}

.banner-medium {
    width: 100%;
    min-height: 400px;
    background-color: #d74919;
}

.banner-large {
    width: 100%;
    min-height: 500px;
    background-color: #d74919;
}

.full-width {
    width: 100%;
    padding: 0;
}

#landing-overlay {
    position: relative;
    height: 100%;
    background-color: #d74919;
}
.landing-overlay-image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.90);
    width: 500px;
    max-width: 100%;
    opacity: 0;
    transition:opacity 1.4s linear;
}
@media (min-width: 768px) {
    .landing-overlay-image {
        transform: translate(-50%, -50%) scale(1);
    }
}
#landing-arrow-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    max-width: 100%;
    opacity: 0;
    transition:opacity 1.5s linear;
    cursor: pointer;
}

#landing-nav {
    overflow: hidden;
    background-image: url(../assets/t.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 0;
}
#landing-nav>div {
    min-height: 500px;
    max-width: 550px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media (min-width: 1200px) {
    #landing-nav>div {
        max-width: 100%;
    }
}
.main-navitem {
    width: 130px;
    height: 156px;
    margin: 5px;
    margin-bottom: 20px;
}
@media (min-width: 370px) {
    .main-navitem {
        margin: 15px;
    }
}
@media (min-width: 500px) {
    .main-navitem {
        width: 150px;
        height: 180px;
    }
}
@media (min-width: 768px) {
    .main-navitem {
        width: 200px;
        height: 240px;
    }
    .main-navitem:nth-child(1) {
        margin-top: 40px;
    }
    .main-navitem:nth-child(2) {
        margin-top: 40px;
    }
    .main-navitem:nth-child(3) {
        margin-bottom: 40px;
    }
    .main-navitem:nth-child(4) {
        margin-bottom: 40px;
    }
}
@media (min-width: 1200px) {
    .main-navitem:nth-child(1) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .main-navitem:nth-child(2) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .main-navitem:nth-child(3) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .main-navitem:nth-child(4) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.main-navitem a {
    color: #9f9f9f;
}
.main-navitem a:hover {
    color: #7D7D7D;
}
.main-navitem div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #ffffff;
}
.main-navitem div>p {
    position: absolute;
    font-weight: 300;
    font-size: 15px;
    text-align: center;

    bottom: 10px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 500px) {
    .main-navitem div>p {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .main-navitem div>p {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .main-navitem div>p {
        font-size: 20px;
    }
}
.main-navitem div>img {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 60%;
    margin-top: 5%;
    max-height: 100%;
    max-width: 100%;
}

footer {
    position: relative;
    color: #ffffff;
    font-weight: 300;
}
footer a {
    color: #ffffff;
}

footer>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer_logo {
    width: 350px;
    max-width: 100%;
}

#footer_info {
    transform: translateX(4px);
    width: 278px;
    margin:auto;
    margin-top: 50px;
}

#footer_links {
    text-align: center;
    margin-top: 80px;
}
@media (min-width: 768px) {
    #footer_info {
        transform: translateX(0);
        text-align: left;
        margin-left: 78px;
    }
    #footer_links {
        text-align: left;
        margin-left: 78px;
    }
}
@media (min-width: 992px) {
    #footer_links {
        margin-top: 184px;
        margin-left: 140px;
    }
}

/* Lecuhten */
#leuchtenquickref {
    text-align: center;
    margin-top: 60px;
}

.lighttable {
    width: 100%;
    margin-top: 100px;
}
.lighttable .row>* {
    padding: 30px;
}
.lighttable .row div:first-child p:first-child {
    font-weight: 500;
}
.lighttable .row {
    margin-bottom: 40px;
    vertical-align: middle;
}
.lighttable .row div{
    min-height: 60px;
}
@media (min-width: 992px) {
    .lighttable .row {
        margin-bottom: 120px;
    }
    .lighttable .row div{
        min-height: 180px;
    }
    .lighttable .addtextmargin {
        margin-top: 40px;
    }
}
.lighttable .row div img {
    width: 130px;
    margin: 10px;
}

/* Kontakt */
#contact-logo {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}

#contact-form {
    margin-top: 40px;
    margin-bottom: 80px;
}

.redstar {
    color: red;
}

form {
    font-size: 16px;
}
.form-control {
    font-size: 15px;
}
form label {
    font-weight: 300;
}
form textarea {
    max-width: 100%;
}

legend {
    color: inherit;
    font-style: italic;
    font-weight: 300;
}

.gmaps {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
