</div><!-- whole-page -->
    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img id="footer_logo" src="assets/LichtStephanieBaderLogo-Weiss-350x.png">
                    
                </div>
                <div class="col-md-6">
                    <p id="footer_info">
                        &nbsp;
                    </p>
                    <div id="footer_links">
                        <p><a href="impressum.html">Impressum</a> • <a href="datenschutz.html">Datenschutz</a> • <a href="kontakt.html">Kontakt</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        //TODO: Google Analytics Integration!
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/pagescript.js"></script>
</body>
</html>
