    <footer class="container-fluid banner-medium">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img id="footer_logo" src="assets/LichtStephanieBaderLogo-Weiss.png">
                    <p id="footer_info">
                        Stephanie Bader<br>
                        Ottersbekallee 21 • 20255 Hamburg<br>
                        Tel. &nbsp&nbsp040 / 12345678<br>
                        Fax. &nbsp040 / 12345678<br>
                        Mail kontakt@lichtstepahniebader.de
                    </p>
                </div>
                <div class="col-md-6">
                    <div id="footer_links">
                        <p>Impressum • Datenschutz • Kontakt</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        //TODO: Google Analytics Integration!
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pagescript.js"></script>
</body>
</html>
