{% include html_start.html %}

    <div id="landing-overlay">
        <img class="landing-overlay-image" src="assets/animation/logo-frame0.png">
        <img class="landing-overlay-image" src="assets/animation/logo-frame1.png">
        <img class="landing-overlay-image" src="assets/animation/logo-frame2.png">
        <img id="landing-arrow-down" onclick="scrollToElement($('#landing-main'))" src="assets/icons/down-arrow.svg">
    </div>

    <div id="landing-main"></div>
    <div class="container-fluid banner-small">
        <div id="main-quote">
            <p>
                <span>"Komm einen Atemzugnäher ans Licht,</span><br>
                <span>Schwester,</span><br>
                <span>Sei kühn und unnahbar"</span><br>
                <span>- Rose Ausländer (1901 - 1988)</span>
            </p>
        </div>
    </div>
    <!-- {% include pagecontent.html %} -->
    <div id="landing-nav" class="container-fluid banner-large">
        <div class="container-fluid">
            <div class="main-navitem">
                <a href="lichtplanung.html">
                    <div>
                        <img src="assets/icons/light-bulb.svg">
                        <p>{{site.title_lichtplanung}}</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="referenz.html">
                    <div>
                        <img src="assets/icons/picture.svg">
                        <p>{{site.title_referenz}}</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="leuchten.html">
                    <div>
                        <img src="assets/icons/calendar.svg">
                        <p>{{site.title_leuchten}}</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="kontakt.html">
                    <div>
                        <img src="assets/icons/contact.svg">
                        <p>{{site.title_kontakt}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% include html_end.html %}
