{% include html_start.html %}

    <div id="landing-overlay">
        <img class="landing-overlay-image" src="assets/animation/logo-frame0.png">
        <img class="landing-overlay-image" src="assets/animation/logo-frame1.png">
        <img class="landing-overlay-image" src="assets/animation/logo-frame2.png">
        <img id="landing-arrow-down" onclick="scrollToElement($('#landing-main'))" src="assets/icons/down-arrow.svg">
    </div>

    <div id="landing-main"></div>
    <div class="container-fluid banner-small"></div>
    <!-- {% include pagecontent.html %} -->
    <div id="landing-nav" class="container-fluid banner-large">
        <div class="container">
            <div class="main-navitem">
                <a href="/lichtplanung.html">
                    <div>
                        <img src="assets/icons/light-bulb.svg">
                        <p>Lichtplanung</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="/">
                    <div>
                        <img src="assets/icons/picture.svg">
                        <p>Referenzen</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="/">
                    <div>
                        <img src="assets/icons/calendar.svg">
                        <p>Leuchten</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="/">
                    <div>
                        <img src="assets/icons/contact.svg">
                        <p>Kontakt</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% include html_end.html %}
