{% include html_start.html %}

    <div id="landing-overlay">
        <img class="landing-overlay-image" src="assets/animation/logo-frame0.png">
        <img class="landing-overlay-image" src="assets/animation/logo-frame1.png">
        <img class="landing-overlay-image" src="assets/animation/logo-frame2.png">
        <div id="landing-skip" onclick="scrollToElementMain($('#landing-main'))"><p>Scrollen zum Überspringen</p></div>
        <img id="landing-arrow-down" onclick="scrollToElementMain($('#landing-main'))" src="assets/icons/down-arrow.svg">
    </div>

    <div id="landing-main" class="maintext-content">
        <div class="container">
            <div class="col-md-4">
                <div id="main-text-left">
                    <img width="200" src="assets/portrait-rund.jpg" alt="Portrait">
                </div>
            </div>

            <div class="col-md-7">
                <div id="main-text-right">
                    <h3>Lust auf eine Reise ins Licht?</h3>
                    <p>Frei nach dem Design Motto <i>form follows function</i> und
                        der Eigenkreation <i>weniger ist mehr, dimmen ist alles</i> nehme ich sie mit
                        auf eine gemeinsame Reise, an deren Ende ihre Räume in schönem,
                        dekorativem und funktionellem Licht erleuchtet sind.
                        <br><a href="lichtplanung.html">Mehr erfahren...</a>
                    </p>
                </div>
            </div>

            <div class="col-md-1">
            </div>
        </div>
    </div>


    <div id="landing-nav" class="container-fluid banner-large">
        <div class="container-fluid">
            <div class="main-navitem">
                <a href="lichtplanung.html">
                    <div>
                        <img src="assets/icons/stev-planung.svg">
                        <p>{{site.title_lichtplanung}}</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="lichtplanung.html#referenz">
                    <div>
                        <img src="assets/icons/stev-referenz.svg">
                        <p>{{site.title_referenz}}</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="leuchten.html">
                    <div>
                        <img src="assets/icons/stev-leuchten.svg">
                        <p>{{site.title_leuchten}}</p>
                    </div>
                </a>
            </div>
            <div class="main-navitem">
                <a href="kontakt.html">
                    <div>
                        <img src="assets/icons/stev-kontakt.svg">
                        <p>{{site.title_kontakt}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% include html_end.html %}
