{% include html_start.html %}

    <div class="container">
        <div class="referenz-spacer"></div>

        <div class="row">
            <div class="col-md-6">
                <img id="contact-logo" src="assets/LichtStephanieBaderLogo-Hell-darker-350x.png">
                <p id="contact-info">
                    {{content}}
                </p>
            </div>
            <div class="col-md-6">
                <form id="contact-form" action="mail.php" method="POST">
                    <fieldset>
                        <legend>Kontaktformular</legend>
                        <div class="form-group">
                            <label for="name">Name<span class="redstar">*</span></label><br>
                            <input class="form-control" type="text" name="name" placeholder="Max Mustermann" required><br>
                        </div>

                        <div class="form-group">
                            <label for="mail">Email<span class="redstar">*</span></label><br>
                            <input class="form-control" type="text" name="mail" placeholder="mustermann@example.com" required><br>
                        </div>

                        <div class="form-group">
                            <label for="tel">Telefon (Optional)</label><br>
                            <input class="form-control" type="text" name="tel" placeholder="+49 40 123456"><br>
                        </div>

                        <div class="form-group">
                            <label for="nachricht">Nachricht<span class="redstar">*</span></label><br>
                            <textarea class="form-control" type="text" name="message" placeholder="Hier schreiben..." required></textarea><br>
                        </div>

                        <button type="submit" value="Send" class="btn btn-primary">Senden</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% include html_end.html %}
