{% include html_start.html %}

    <div class="container-fluid banner-small"></div>

    <div class="container">
        <h1>Meine Top-10 Lieblingsleuchten</h1>

        <p id="leuchtenquickref"><a href="#">Lampenname</a> • <a href="#">Lampenname</a> • <a href="#">Lampenname</a> • <a href="#">Lampenname</a> • <a href="#">Lampenname</a> • <a href="#">Lampenname</a></p>

        <div class="lighttable">
            <div class="row">
                <div class="col-md-6">
                    <p>Lampenname</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/demo.jpg"><img src="assets/demo2.jpg">
                </div>
                <div class="col-md-2">
                    <a class="center-vertical" href="http://google.de" target="_blank"><p class="addtextmargin">Herstellerlink</p></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Lampenname</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/demo.jpg"><img src="assets/demo2.jpg">
                </div>
                <div class="col-md-2">
                    <a href="http://google.de" target="_blank"><p class="addtextmargin">Herstellerlink</p></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Lampenname</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/demo.jpg"><img src="assets/demo2.jpg">
                </div>
                <div class="col-md-2">
                    <a href="http://google.de" target="_blank"><p class="addtextmargin">Herstellerlink</p></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Lampenname</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/demo.jpg"><img src="assets/demo2.jpg">
                </div>
                <div class="col-md-2">
                    <a href="http://google.de" target="_blank"><p class="addtextmargin">Herstellerlink</p></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Lampenname</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/demo.jpg"><img src="assets/demo2.jpg">
                </div>
                <div class="col-md-2">
                    <a href="http://google.de" target="_blank"><p class="addtextmargin">Herstellerlink</p></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Lampenname</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/demo.jpg"><img src="assets/demo2.jpg">
                </div>
                <div class="col-md-2">
                    <a href="http://google.de" target="_blank"><p class="addtextmargin">Herstellerlink</p></a>
                </div>
            </div>
        </div>
    </div>

    <!-- {% include pagecontent.html %} -->

{% include html_end.html %}
