{% include html_start.html %}

    <!--<div class="container-fluid banner-small">
        <h1>Meine {{site.title_leuchten}}</h1>
    </div>-->

    <div class="referenz-spacer"></div>

    <div class="container">
        <h1>Meine {{site.title_leuchten}}</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    <div id="leuchten-flexbox">
        <div>
            <h3>Morning Glory<span>, 1994</span></h3>
            <p>Stehleuchte</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
            <a href="https://google.de" target="_blank" class="btn btn-default">Herstellerlink</a>
        </div>

        <div>
            <h3>Sento<span>, 2002</span></h3>
            <p>Tischleuchte</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
            <a href="https://google.de" target="_blank" class="btn btn-default">Herstellerlink</a>
        </div>

        <div>
            <h3>Break<span>, 2006</span></h3>
            <p>Tischleuchte</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
            <a href="https://google.de" target="_blank" class="btn btn-default">Herstellerlink</a>
        </div>

        <div>
            <h3>28<span>, 2008</span></h3>
            <p>Stehleuchte</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
            <a href="https://google.de" target="_blank" class="btn btn-default">Herstellerlink</a>
        </div>

        <div>
            <h3>Flex<span>, 2016</span></h3>
            <p>Tischleuchte</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
            <a href="https://google.de" target="_blank" class="btn btn-default">Herstellerlink</a>
        </div>

        <div>
            <h3>One From The Heart<span>, 1989</span></h3>
            <p>Tischleuchte</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
            <a href="https://google.de" target="_blank" class="btn btn-default">Herstellerlink</a>
        </div>
    </div>

    <!-- {% include pagecontent.html %} -->

{% include html_end.html %}
