{% include html_start.html %}

    <!--<div class="container-fluid banner-small">
        <h1>{{site.title_lichtplanung}}</h1>
    </div>-->

    <div class="referenz-spacer"></div>

    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img style="max-width:100%; margin-left:50%; margin-top: 80px; transform:translateX(-50%)" width="400" src="assets/lichtplanung_1.jpg" alt="Portrait">
                </div>

                <div class="col-md-6">
                    <br><br>
                    <h1>Moderne Lichtplanung <br>für Home & Office</h1>
                    <p>Die Reise ins Licht beginnt in Ihren Geschäftsräumen oder Ihren privaten Räumen kostenneutral bei einem ersten Kennenlernen und Begutachtung Ihrer individuellen Lichtproblematik. Aufgrund meiner langjährigen Erfahrung und meiner persönlichen visuellen Fähigkeiten ist es sinnvoll, mich früh im Projektablauf einzuschalten.</p>
                </div>
            </div>

        <br><br><br>

            <div class="row">

                <div class="col-md-6">
                    <br><br><br>
                    <h1>Das Konzept</h1>
                    <p>Im zweiten Schritt erfolgt die Lichtplanung, d.&nbsp;h. ich erarbeite herstellerunabhängig und ganz persönlich für Sie Beleuchtungsvorschläge. Die Planung erfolgt auf Basis der Besichtigung vor Ort, auch von Rohbau-Baustellen oder auf Basis von Architektenplänen (.dwg-Format) und kann computergestützt oder 3D visualisiert werden. <br>Wir wählen gemeinsam die optimale Lichtlösung.</p>
                </div>

                <div class="col-md-6">
                    <img style="max-width:100%; margin-left:50%; margin-top: 80px; transform:translateX(-50%)" width="400" src="assets/lichtplanung_2.jpg" alt="Portrait">
                </div>
            </div>

<br><br><br><br><br><br>

            <div class="row">
                <div class="col-md-6">
                    <img style="max-width:100%; margin-left:50%; transform:translateX(-50%)" width="350" src="assets/referenz/niendorf_1.jpg" alt="Portrait">
                </div>

                <div class="col-md-6">
                    <h1>Die Umsetzung</h1>
                    <p>Es beginnt der dritte Teil, die Umsetzung der Lichtplanung: Ich führe Gespräche mit den Gewerken, mit Elektriker, Trockenbauer, Landschaftsgärtner und begleite die Umsetzung.<br><br> Die Kosten der gesamten Lichtplanung basieren auf einem Beratungssatz pro Stundenaufwand.</p>
                </div>
            </div>
            <br><br><br>

            {{content}}
        
        <br><br><br>
    </div>

{% include html_end.html %}
