{% include html_start.html %}

    <div class="container-fluid banner-small">
        <h1>{{site.title_lichtplanung}}</h1>
    </div>

    <div class="container">

        <div class="lichtplanung-content">
            <div class="container">
                <div class="col-md-6">
                    <img style="max-width:100%" width="300" src="assets/portrait.jpg" alt="Portrait">
                </div>

                <div class="col-md-6">
                    <h3>Moderne Lichtplanung für Home & Office</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                    <h4><> Kontakt aufnehmen</h4>

                    <br>
                    <br>

                    <h3>Warum <a style="color: #d74919" href="#referenz">LichtStephanieBader</a>?</h3>
                    <ul>
                        <li>Konzeptionelle Entwürfe mit Leuchtenempfehlung</li>
                        <li>Für private und gewerbliche Räume</li>
                        <li>Beratung vor Ort, mit Gewerkeabstimmung</li>
                        <li>Individuell und unabhängig</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- {% include pagecontent.html %} -->
    </div>

    <div id="referenz" class="container-fluid banner-small">
        <h1>{{site.title_referenz}}</h1>
    </div>

    <div class="container-fluid referenzen">
        <div id="ref0" class="referenzen-element">
            <div class="container">
                <div class="ref-container-inner">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Elbvilla Blankenese</h3>
                            <p class="motto">Motto: Leuchten die nicht jeder hat</p>
                            <p class="ref-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                        </div>
                        <div class="col-md-6">
                            <div class="sliderContainer">
                                <ul class="rslides">
                                    <li><img src="assets/demo.jpg" alt=""></li>
                                    <li><img src="assets/demo4.jpg" alt=""></li>
                                    <li><img src="assets/demo5.jpg" alt=""></li>
                                    <li><img src="assets/demo.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ref-splitter"></div>
        <div id="ref1" class="referenzen-element">
            <div class="container">
                <div class="ref-container-inner">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Zahnarztpraxis Eimsbüttel</h3>
                            <p class="motto">Motto: Leuchten die nicht jeder hat</p>
                            <p class="ref-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                        </div>
                        <div class="col-md-6">
                            <div class="sliderContainer">
                                <ul class="rslides">
                                  <li><img src="assets/demo.jpg" alt=""></li>
                                  <li><img src="assets/demo4.jpg" alt=""></li>
                                  <li><img src="assets/demo4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid banner-small">
            <div id="main-quote">
                <p>
                    <span>"Komm einen Atemzugnäher ans Licht,</span><br>
                    <span>Schwester,</span><br>
                    <span>Sei kühn und unnahbar"</span><br>
                    <span>- Rose Ausländer (1901 - 1988)</span>
                </p>
            </div>
        </div>
        <div id="ref2" class="referenzen-element">
            <div class="container">
                <div class="ref-container-inner">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Esszimmer Eimsbüttel</h3>
                            <p class="motto">Motto: Leuchten die nicht jeder hat</p>
                            <p class="ref-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                        </div>
                        <div class="col-md-6">
                            <div class="sliderContainer">
                                <ul class="rslides">
                                  <li><img src="assets/demo.jpg" alt=""></li>
                                  <li><img src="assets/demo4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ref-splitter"></div>
        <div id="ref3" class="referenzen-element">
            <div class="container">
                <div class="ref-container-inner">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Villa Niendorf</h3>
                            <p class="motto">Motto: Leuchten die nicht jeder hat</p>
                            <p class="ref-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                        </div>
                        <div class="col-md-6">
                            <div class="sliderContainer">
                                <ul class="rslides">
                                  <li><img src="assets/demo.jpg" alt=""></li>
                                  <li><img src="assets/demo4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ref-splitter"></div>
    </div>

    <div class="referenz-spacer"></div>

    <div class="container">
        <h3>Möchten Sie mehr sehen?</h3>
        <p><a href="https://google.de" target="_blank">Hier</a> gehts zur letzten Zeitschriften-Veröffentlichung.</p>
    </div>
    <!-- {% include pagecontent.html %} -->

    <div class="referenz-spacer"></div>

{% include html_end.html %}
