{% include html_start.html %}

<div class="referenz-spacer"></div>

<div class="container">
    {{content}}
    <br>
    <p><i class="referenz-info">Zum Öffnen der Galerie auf die Bilder klicken.</i></p>
</div>

<div id="referenz-flexbox">

    {% for el in site.data.referenzen %}

        <div id="referenz-element{{ forloop.index }}">
            <img src="{{ el.hintergrundbild }}">
            <div>
                <h3>{{ el.name }}</h3>
                <p>{{ el.motto }}</p>
            </div>
        </div>

    {% endfor %}

</div>

<div class="referenz-spacer"></div>

{% include html_end.html %}
