{% include html_start.html %}

<div class="referenz-spacer"></div>

<div class="container">
    {{content}}
    <br>
    <p><i class="referenz-info">Zum Öffnen der Galerie auf die Bilder klicken.</i></p>
</div>

<div id="referenz-flexbox">
    <div id="ref0">
        <img src="assets/referenz/villa_bg.jpg">
        <div>
            <h3>Elbvilla Blankenese</h3>
            <p>Aufgabe: Leuchten, die nicht jeder hat</p>
        </div>
    </div>
    <div id="ref2">
        <img src="assets/referenz/esszimmer_bg.jpg">
        <div>
            <h3>Esszimmer Eimsbüttel</h3>
            <p>Aufgabe: Leuchte, die dem Holztisch nicht die Show stiehlt</p>
        </div>
    </div>
    <div id="ref3">
        <img src="assets/referenz/niendorf_bg.jpg">
        <div>
            <h3>Villa Niendorf</h3>
            <p>Aufgabe: Leuchten, die den Charakter des Hauses unterstützen</p>
        </div>
    </div>
    <div id="ref1">
        <img src="assets/referenz/praxis_bg.jpg">
        <div>
            <h3>Zahnarztpraxis Eimsbüttel</h3>
            <p>Aufgabe: Leuchten, die den familiären Charakter der Praxis unterstützen</p>
        </div>
    </div>
</div>

<div class="referenz-spacer"></div>

{% include html_end.html %}
