{% include html_start.html %}

    <div class="container-fluid banner-small"></div>

    <div class="container">
        <h1>{{site.title_referenz}}</h1>
        <hr>

        <div class="referenzen">

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h3>Elbvilla Blankenese</h3>
                        <p class="motto">Motto: Leuchten die nicht jeder hat</p>
                        <div class="sliderContainer">
                            <ul class="rslides">
                              <li><img src="assets/demo.jpg" alt=""></li>
                              <li><img src="assets/demo4.jpg" alt=""></li>
                              <li><img src="assets/demo5.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <h3>Zahnarztpraxis Eimsbüttel</h3>
                        <p class="motto">Motto: Freundliche Leuchten für Familienpraxis</p>
                        <div class="sliderContainer">
                            <ul class="rslides">
                              <li><img src="assets/demo.jpg" alt=""></li>
                              <li><img src="assets/demo4.jpg" alt=""></li>
                              <li><img src="assets/demo5.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <h3>Esszimmer Eimsbüttel</h3>
                        <p class="motto">Motto: Leuchte soll Holztisch nicht die Show stehlen</p>
                        <div class="sliderContainer">
                            <ul class="rslides">
                              <li><img src="assets/demo.jpg" alt=""></li>
                              <li><img src="assets/demo4.jpg" alt=""></li>
                              <li><img src="assets/demo5.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <h3>Villa Niendorf</h3>
                        <p class="motto">Motto: Bauhausarchitektur unterstützende Leuchten</p>
                        <div class="sliderContainer">
                            <ul class="rslides">
                              <li><img src="assets/demo.jpg" alt=""></li>
                              <li><img src="assets/demo4.jpg" alt=""></li>
                              <li><img src="assets/demo5.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="referenz-spacer"></div>

        {% include pagecontent.html %}

        <div class="referenz-spacer"></div>

    </div>

{% include html_end.html %}
